{% extends 'base.html.twig' %}

{% block title %}InterNations - Register{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
    <div class="mt-2"><a href="/login">Log in</a></div>
{% endblock %}
